<div class="callout callout-info">
  <div class="media">
    <div class="media-left">
      <span class="fa-stack fa-lg callout-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>
    </div>
    <div class="media-body">
      <h4 class="callout-title"><f:translate extensionName="PwdSecurityCheck" key="title.never_checked" /></h4>
      <div class="callout-body">
        <p>
          <f:translate extensionName="PwdSecurityCheck" key="message.never_checked" arguments="{0: mode}" />
        </p>
      </div>
    </div>
  </div>
</div>
