<div class="callout callout-success">
  <div class="media">
    <div class="media-left">
      <span class="fa-stack fa-lg callout-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span>
    </div>
    <div class="media-body">
      <h4 class="callout-title"><f:translate key="title.check_results" /></h4>
      <div class="callout-body">
        <p>
          <f:translate key="message.no_passwords_found" arguments="{0: amountPasswords}" />
        </p>
      </div>
    </div>
  </div>
</div>
