<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="callout callout-danger">
    <div class="callout-icon">
      <span class="icon-emphasized">
        <core:icon identifier="actions-close"/>
      </span>
    </div>
    <div class="callout-content">
        <h4 class="callout-title">
            <f:translate extensionName="PwdSecurityCheck" key="title.security_notice"/>
        </h4>
        <div class="callout-body">
            <p>
                <f:translate extensionName="PwdSecurityCheck" key="message.passwords_found" arguments="{0: amountPasswords}"/>
            </p>
        </div>
    </div>
</div>

</html>